* {
    padding: 0;
    margin: 0;
}

.game {
    width: 600px;
    height: 150px;
    border: 1px solid black;
}

.character {
    width: 20px;
    height: 50px;
    background-color: red;
    position: relative;
    top: 80px;
}
.character-animate {
    animation-name: jump;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes jump {
    0% {
        top: 80px;
    }
    30% {
        top: 40px;
    }
    70% {
        top: 40px;
    }
    100% {
        top: 80px;
    }
}

.block {
    width: 20px;
    height: 20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 580px;
}

.block-animate {
    animation-name: block;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes block {
    0% {
        left: 480px;
    }
    100% {
        left: -40px;
    }
}

.divider {
    width: 5px;
    height: auto;
    display: inline-block;
}

.button {
    background-color: #555555; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
